﻿html, body, .container-table {
    height: 100%;
    padding: 0px;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

#myBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #339999;
}

#label {
    text-align: center;
    height: 20px;
    color: white;
}

.centertext {
    text-align: center;
    color: #339999;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px;
}

.scimg {
    margin:0px auto 50px;
}

.progress-bar-success {
    background-color: #339999;
    color: #339999;
    text-align: center;
    text-transform: uppercase;
    text-indent: 40%;
    font-weight: bold;
}

.loadingtext {
    color: #339999;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    font-weight: bold;
}
