﻿@charset "utf-8";
/* CSS Document */

body {
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
}

.profilecontainer {
    border-radius: 4px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
}

    .profilecontainer .colordiv {
        background: #65d195;
        height: 50px;
    }


    .profilecontainer .identity {
        margin-bottom: 30px;
    }

    .profilecontainer .profiledp {
        width: 90px;
        height: 90px;
        border: 3px solid #fff;
        border-radius: 10px;
        position: absolute;
        top: 15px;
        left: 15px;
        background: #ccc;
    }

.searchplayer {
    margin: 10px 0;
}

.btnlink > a {
    color: #000 !important;
    font-size: 13px !important;
}

.btnlink a:link, .btnlink a:visited, .btnlink a:hover {
    /*color: #000;
    font-size: 13px;*/
}

.btn-brdr {
    border-right: 1px solid #ccc;
}

.active-action {
    background-color: #fafafa;
}

.profile {
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.navbar {
    border-bottom: 0px;
    margin-bottom: 0px;
}

.action-btn {
    color: #000 !important;
    text-decoration: none !important;
}

    .action-btn:hover {
        text-decoration: none;
        color: #000;
    }

    .action-btn > img {
        margin: 0 auto;
        text-decoration: none;
        max-height: 70px;
        max-width: 70px;
    }

.navbar-fixed-bottom {
    text-align: center;
    color: #000;
    background: #fff;
    border-top: 1px #ccc solid;
    font-size: 12px;
}

.fc-icons {
    color: #339999;
    font-size: 20px;
}

.navbar-fixed-top {
    text-align: center;
    color: #000;
    background: #fff;
    border-bottom: 1px #ccc solid;
}

.logo {
    margin: 5px auto;
}

.profileimage {
    max-height: 90px;
    max-width: 90px;
    height: 100%;
    width: 100%;
}

.profilerow {
    padding: 5px 0px;
    vertical-align: middle;
}

footer {
    margin: 50px 0;
}

.themecolor {
    color: #339999;
}

.user {
    font-weight: bold;
}

.user-det {
    font-weight: bold;
    margin: 2px 0px;
    line-height: 1.1;
}

.user-stats {
    margin: 0px;
    font-size: 15px;
    padding: 0px;
    color: #FFF;
}

.life {
    background: #eee;
}

.stat {
    background: #339999;
}

.life-time {
    margin: 0px;
    font-size: 15px;
    color: #333;
    padding: 0px;
    height: 22px;
}

.action-box {
    padding-bottom: 45px;
}

.padding15 {
    padding: 5px 0px;
}

.padding0 {
    padding: 0px;
}

.progresstbl {
    border: 0px;
    border-collapse: collapse;
    width: 100%;
}

    .progresstbl > tbody > tr > td {
        border: 1px solid #000;
        width: 35px;
        height: 15px;
        background-color: #CCC;
    }



.me {
    margin: 0px;
    padding: 2px 0px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.opponent {
    margin: 0px;
    padding: 2px 0px;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.action-img {
    height: 100%;
    width: 100%;
    max-height: 100px;
}

/**modified by javed*/
/** form **/

.frmwrap {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}


.frm-ctrl {
    background-color: #fff;
    background-image: none;
    border-color: -moz-use-text-color -moz-use-text-color #339999;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-group label {
    color: #0a8080;
}

.left-inner-addon .glyphicon {
    color: #ccc;
}


.left-inner-addon {
    position: relative;
}

    .left-inner-addon input {
        padding-left: 30px;
    }

    .left-inner-addon i {
        position: absolute;
        left: 0px;
        padding: 10px 0px;
        pointer-events: none;
    }

    .left-inner-addon .btn-primary {
        background-color: #339999;
        border-color: #1f9696;
        color: #fff;
    }


        .left-inner-addon .btn-primary:hover {
            background-color: #1f7a7a;
            border-color: #339999;
            color: #fff;
        }


.btmnav {
    text-align: center;
    color: #333;
    background: #ccc;
    border-top: 1px #ccc solid;
    padding: 10px;
    font-size: 12px;
}

.tpnav {
    text-align: center;
    color: #fff;
    background: #339999;
    border-bottom: 1px #ccc solid;
}

    .tpnav > h3 {
        margin: 10px 0px;
    }

.registerbtn {
    margin-top: 30px;
}

.ranklist {
    margin: 15px 0px;
    padding: 0px;
    clear: both;
}

    .ranklist td {
        font-size: 12px !important;
        color: #000!important;
        font-style: italic;
        vertical-align: middle !important;
        text-align: center!important;
        padding: 3px!important;
    }

    .ranklist th {
        vertical-align: middle;
        text-align: center;
    }

    .ranklist thead {
        background: #339999;
        color: #fff;
    }

    .ranklist td > img {
        height: 25px;
        width: 25px;
    }

/* Datatables */
.dataTable {
    float: left;
    border-bottom: 1px solid #E5E5E5 !important;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

    .dataTable div.checker,
    .dataTable div.radio {
        display: inherit;
    }

.dataTables_wrapper {
    float: left;
    width: 100%;
}

.dataTables_length {
    width: 35%;
    float: left;
    padding: 0px 0px 5px;
    font-size: 12px;
}

    .dataTables_length label,
    .dataTables_filter label {
        padding: 0px;
        line-height: 26px;
        height: auto;
        margin: 0px;
        font-weight: normal;
    }

    .dataTables_length select {
        width: 50px;
        display: inline;
        margin: 0px 5px;
        padding: 0px;
        border: 1px solid #333;
        border-radius: 0;
    }

.dataTables_filter {
    width: 100%;
    float: right;
    padding-left: 5px;
    padding: 0px 0px 5px;
    font-size: 12px;
}

    .dataTables_filter label {
        width: 100%;
    }

        .dataTables_filter label input {
            width: 100%;
            display: inline;
            padding: 0px 0px 0px 5px;
            border: 1px solid #ccc;
            border-radius: 0;
        }

td.dataTables_empty {
    font-size: 11px;
    text-align: center;
    color: #333;
}

.dataTables_info {
    font-size: 12px;
    padding: 0px;
    line-height: 30px;
    margin: 5px auto;
    text-align: center;
}

.dataTables_paginate {
    padding: 0px 0px 15px 0px;
    text-align: center;
    margin: 0 auto;
}

    .dataTables_paginate a.paginate_disabled_previous,
    .dataTables_paginate a.paginate_disabled_next,
    .dataTables_paginate a.paginate_button,
    .paginate_enabled_next,
    .paginate_active,
    .paginate_enabled_previous {
        padding: 5px 10px;
        font-size: 12px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        color: #656d78;
        margin-left: 3px;
        cursor: pointer;
    }

        .dataTables_paginate .paginate_enabled_next:hover,
        .dataTables_paginate a.paginate_button:hover,
        .dataTables_paginate .paginate_enabled_previous:hover {
            background-color: #eee;
            border-color: #ddd;
            color: #222;
        }

    .dataTables_paginate .paginate_button.current,
    .dataTables_paginate .paginate_button.current:hover {
        background: #339999;
        color: #FFF;
        border-color: #339999;
    }

    .dataTables_paginate a.paginate_disabled_previous,
    .dataTables_paginate a.paginate_button_disabled,
    .dataTables_paginate a.paginate_disabled_next {
        cursor: default;
        color: #ccc;
    }

        .dataTables_paginate a.paginate_button_disabled:hover {
            box-shadow: none;
            color: #ccc;
        }

.sorting_desc,
.sorting_asc,
.sorting {
    position: relative;
    cursor: pointer;
    padding-right: 0px !important;
}

    .sorting:before,
    .sorting_desc:before,
    .sorting_asc:before {
        position: absolute;
        top: 8px;
        right: 5px;
        font-family: 'FontAwesome';
        opacity: 0.9;
        filter: alpha(opacity = 90);
        width: 10px;
        height: 10px;
        display: block;
    }

    .sorting:before {
        content: "\f0dc";
        opacity: 0.3;
        filter: alpha(opacity = 30);
    }

    .sorting_desc:before {
        content: "\f0d8";
    }

    .sorting_asc:before {
        content: "\f0d7";
    }

.sorting_asc_disabled:before,
.sorting_desc_disabled:before {
    opacity: 0.1;
    filter: alpha(opacity = 10);
}
/* eof Datatables */

.rankpoint {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #339999;
    margin-bottom: 20px;
}

.btn-block {
    margin: 5px 0px;
    display: initial;
    background-color: #e4e4e4;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border: solid #339999 1px;
    border-radius: 6px;
    border-left: 0px;
}

    .table-curved td, .table-curved th {
        border-left: 1px solid #339999;
        border-top: 1px solid #339999;
    }

    .table-curved th {
        border-top: none;
    }

        .table-curved th:first-child {
            border-radius: 6px 0 0 0;
        }

        .table-curved th:last-child {
            border-radius: 0 6px 0 0;
        }

        .table-curved th:only-child {
            border-radius: 6px 6px 0 0;
        }

    .table-curved tr:last-child td:first-child {
        border-radius: 0 0 0 6px;
    }

    .table-curved tr:last-child td:last-child {
        border-radius: 0 0 6px 0;
    }

.table > thead > tr > th {
    border-bottom: 0px solid #fff;
}

.table-curved td, .table-curved th {
    border-top: 0px solid #fff !important;
}

.table-curved tr:last-child td {
    border-bottom: 1px solid #339999;
}

.odd {
    background-color: #fafafa !important;
}

.anchorbtn {
    display: block !important;
    color: #000 !important;
    text-decoration: none !important;
}

.backbtn {
    float: left !important;
    color: #FFF !important;
    padding: 14px 0px 0px 10px !important;
    display: block !important;
    font-size: 14px;
}

div.card {
    max-width: 335px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 100%;
    padding: 10px;
}

.card > p {
    text-align: justify;
}

.countdown {
    text-align: center;
    padding: 0px 0px 5px 0px;
    text-transform: uppercase;
    margin: 0px;
    font-size: 12px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #339999 !important;
}

.modal {
    text-align: center !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#btnInvokeFight {
    color: #000 !important;
}

.modal-content {
    background-color: #339999 !important;
    border: 0px solid #FFF !important;
}

.modal-title {
    text-align: center !important;
    color: #FFF!important;
    font-size: 15px;
    font-weight: bold;
}

.modal-sm {
    min-width: 250px !important;
}

.modal-body {
    text-align: center !important;
    color: #FFF!important;
}

    .modal-body > p {
        margin: 0px;
        padding: 0px;
    }

.editpicture {
    position: absolute;
    top: 0px;
    left: 90px;
}

    .editpicture > a {
        color: #339999 !important;
    }

    .editpicture > input[type='file'] {
        display: none;
    }

#pTimer {
    padding: 2px;
    font-weight: bold;
}

.clearfix {
    height: 0px;
    clear: both;
}

.modal-header {
    padding: 5px 0px;
    text-transform: uppercase;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-header .close {
    position: absolute;
    right: 4px !important;
    top: 0px !important;
    color: #fff !important;
    text-shadow: none !important;
    margin: 0px !important;
    opacity: 1 !important;
}

.startscreen {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.btnContainer {
    position: absolute;
    bottom: 15%;
    left: 25%;
    right: 25%;
}

.startbtn {
    display: block;
    color: #000 !important;
    font-size: 14px;
    padding:0px;
    text-decoration: none !important;
    margin: 0 auto!important;
    text-align: center !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.gamebox {
    display: none;
    clear: both;
}

.startscreen > img {
    max-height: 680px;
    width: 100%;
}


#ajaxLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5) url('http://54.244.59.225/RockPaperScissor/images/loading.gif') center center no-repeat;
    opacity: .5;
    z-index: 999999;
    display: none;
}
